:root {
  --color-brand-green: #7ccece;
  --color-brand-orange: #f16c4a;
  --color-brand-black: #5b5a5a;
  --color-background: #f2f2f2;
  --color-link: #0070f3;
  --color-light-black: #282828;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background: var(--color-background);
  color: var(--color-light-black);
}

* {
  box-sizing: border-box;
  position: relative;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}
