:root {
  --color-brand-green: #7ccece;
  --color-brand-green-dark: #345757;
  --color-brand-green-bright: #9bffff;
  --color-brand-orange: #f16c4a;
  --color-brand-orange-dark: #e32e01;
  --color-brand-black: #5b5a5a;
  --color-background: #f2f2f2;
  --color-link: #0070f3;
  --color-light-black: #282828;

  --color-text: var(--color-light-black);
  --color-text-brand-green: var(--color-brand-green-dark);

  --color-border: #9e9e9e;

  --box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

@media (prefers-color-scheme: dark) {
  /* Dark mode disabled for now. Will be polished later */
  :root__disabled_for_now {
    --color-background: var(--color-light-black);

    --color-text: white;
    --color-text-brand-green: var(--color-brand-green);
    --color-link: #52c2ff;
  }
}

@font-face {
  font-family: Mountains of Christmas;
  src: url(/branding/MountainsofChristmas.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji',
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans;

  background: var(--color-background);
  color: var(--color-light-black);
}

* {
  box-sizing: border-box;
  position: relative;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

p {
  color: var(--color-text);
}

.color-text {
  color: var(--color-text);
}

.color-text-brand-green {
  color: var(--color-text-brand-green);
}

.color-text-brand-orange {
  color: var(--color-brand-orange-dark);
}

.color-brand-green-bright {
  color: var(--color-brand-green-bright);
}

.font-brand {
  font-family: Mountains of Christmas;
  font-weight: bold;
}

.font-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.inline-block {
  display: inline-block;
}

/* Grabbed from https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034 */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
