.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  @media only screen and (max-height: 720px) {
    padding-bottom: 2rem;
  }

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 550px;

  > * + * {
    margin: 1.5rem 0 0 0;
  }
}

.logo {
  width: 300px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;

  @media only screen and (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    font-size: 2rem;
  }
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.instagramLogo {
  height: 1rem;
  width: 1rem;
}

.links {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;

  > * + * {
    margin-top: 1em;
  }
}
