.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  @media only screen and (max-height: 720px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 550px;

  > * + * {
    margin: 1.5rem 0 0 0;
  }
}

.logo {
  width: 200px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;

  @media only screen and (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    font-size: 3rem;
  }
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.instagramLogo {
  height: 1rem;
  width: 1rem;
}

.links {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;

  > * + * {
    margin-top: 1em;
  }
}

/* Hotel section */

.hotel {
  font-size: 1.1rem;
  width: 100%;
  min-height: 740px;

  h2 {
    padding-top: 2rem;
    font-size: 2.5rem;
  }

  h2,
  div,
  span,
  p {
    color: white;
  }

  a {
    text-decoration: underline;
  }
}

.hotelImageContainer {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  img {
    filter: opacity(0.3);
  }
}

.hotelTextContainer {
  max-width: 1440px;
  width: 100%;
  display: flex;
  margin: 0 auto;

  @media only screen and (max-width: 1440px) {
    flex-direction: column;
  }
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider > div {
  background: var(--color-brand-orange);

  @media only screen and (max-width: 1440px) {
    max-width: 580px;
    width: 80%;
    height: 3px;
  }

  @media only screen and (min-width: 1440px) {
    width: 3px;
    height: 80%;
  }
}

.hotelTextFirst,
.hotlTextSecond {
  display: flex;
  place-items: center;
  flex-basis: 50%;
}

.hotelTextFirst > div,
.hotlTextSecond > div {
  margin: 0 auto;

  @media only screen and (max-width: 710px) {
    padding: 30px 20px;
  }
  @media only screen and (min-width: 710px) {
    padding: 60px 0;
  }
}

.hotelTextFirst > div {
  width: 390px;
}

.hotlTextSecond > div {
  width: 510px;
}

.requirementsList {
  @media only screen and (max-width: 710px) {
    padding-left: 20px;
  }
}

.price {
  font-weight: 500;
  text-align: center;

  > span {
    vertical-align: middle;
  }

  .currency {
    font-size: 2rem;
  }

  .priceBase {
    font-size: 3rem;
  }

  .priceDecimals {
    font-size: 1.5rem;
  }
}

/* End Hotel Section */

/* Grooming section */

.grooming {
  position: relative;
}

.dogPaw {
  color: var(--color-brand-black);
  transform: rotateZ(15deg);
  position: absolute;
  left: calc(280px + (1rem - 16px) * 5);
  top: 100px;
}

.groomingHeader {
  height: 200px;
  background: var(--color-brand-green);

  display: flex;
  align-items: center;
  justify-content: center;
}

.groomingTitleContainer {
  flex-basis: 800px;
  font-size: 3rem;

  @media only screen and (max-width: 800px) {
    flex-basis: 450px;
    font-size: 2.5rem;
    padding: 0 20px;
  }
}

.groomingInfo {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;

  display: grid;
  grid-column-gap: 45px;
  grid-template-areas:
    'tiers additionals'
    'tiers hours';

  @media only screen and (max-width: 800px) {
    padding: 20px 20px;
    grid-template-areas:
      'tiers'
      'additionals'
      'hours';
    max-width: 450px;
  }
}

.groomingTiers {
  grid-area: tiers;
}

.groomingAdditionals {
  grid-area: additionals;
}

.groomingHours {
  grid-area: hours;
}

/* End Grooming section */
